@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html,
body {
    font-family: "Roboto", sans-serif;
    max-width: 100vw !important;
}
.bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

element.style {
    background-position: 10px 10px;
}
.\[mask-image\:linear-gradient\(0deg\2c
    \#fff\2c
    rgba\(255\2c
    255\2c
    255\2c
    0\.6\)\)\] {
    -webkit-mask-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.6));
    mask-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.6));
}
.bg-stripes-pink {
    background-color: #f472b61a;
    background-image: linear-gradient(
        135deg,
        #ec489980 10%,
        transparent 0,
        transparent 50%,
        #ec489980 0,
        #ec489980 60%,
        transparent 0,
        transparent
    );
    background-size: 7.07px 7.07px;
}
.expand-enter-active,
.expand-leave-active {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}
.alternate-table-row tr:nth-child(odd) {
    background-color: rgba(237, 242, 247, var(--tw-border-opacity));
}
.animated-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
}
.form-header {
    font-family: "Gentium Basic", serif;
}
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.odd-table:nth-child(odd) {
    --tw-bg-opacity: 1;
    background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}

.fruit-list-move {
    transition: transform 1s;
}
.fruit-table-move {
    transition: transform 1s;
}
